@use './scss/mixins';

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5rem);
    }

    100% {
        transform: translateY(0);
    }
}

.App {
    margin: auto;

    & .hero {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: stretch;
        position: relative;
        gap: 7rem;
        text-align: center;

        & .fecha {
            border: 7px double #ff971f;
            padding: .5rem;
            font-size: 2rem;

            @include mixins.respond(tab-port) {
                padding: 1.5rem;
            }
        }

        & .nombres {
            @include mixins.flexCenter;
            font-family: 'sophia_martiniregular';
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 10px;
            text-align: center;
            margin-bottom: 8rem;

            @include mixins.respond(tab-port) {
                font-size: 5rem;

                span {
                    font-size: 5rem;
                }
            }

            & span {
                transform: translateY(-2rem);
            }
        }
    }

    & .flor {
        position: absolute;
        top: 0;
        right: 0;
        transform: scaleX(-1);
        width: 45%;

        @include mixins.respond(tab-port) {
            width: 30%;
        }

        @include mixins.respond(tab-land) {
            width: 20%;
        }

        &.sec {
            transform: scaleX(-1) scaleY(-1) rotate(-88deg) translateY(-23px) translateX(-21px);
        }
    }

    & .mancha {
        position: absolute;
        top: 5rem;
        right: 7rem;
        transform: scaleX(-1);
        width: 200%;

        @include mixins.respond(tab-land) {
            right: 42rem;
        }
    }

    & .conteo {
        margin: 7rem auto;
        @include mixins.flexCenter;
        font-family: 'sophia_martiniregular';
        position: relative;

        & .faltan {
            letter-spacing: 1rem;
            font-size: 3rem;
        }

        & .num,
        & .dias {
            letter-spacing: .5rem;
        }

        & .num {
            font-family: 'montserratextralight';
            margin-bottom: .5rem;
            font-size: 4rem;
            background-color: #ffd82844;
            padding: 1rem;
            border-radius: 8px;
        }


        & .dias {
            font-size: 1.3rem;

            @include mixins.respond(tab-land) {
                font-size: 1.5rem;
                font-weight: bold;
            }

        }

        & .flor {
            top: unset;
            bottom: 0;
            left: 50%;
            transform: scaleX(1) translateY(5rem);
            width: 30%;
            height: 30%;
            opacity: .7;

            @include mixins.respond(tab-land) {
                width: auto;
                bottom: -1rem;
            }

            &__left {
                left: 50%;
                transform: scaleX(-1) translateY(5rem) translateX(100%);
            }
        }
    }

    & .lugar {
        @include mixins.flexCenter;
        gap: 5rem;
        margin: 12rem auto;
        position: relative;

        &>*,
        &>*>* {
            text-align: center;
            display: block;
        }

        & .map {
            margin: auto;
        }

        & h3 {
            transform: translateY(2rem)
        }

        & .mancha {
            left: 10rem;
            opacity: .4;
            z-index: -1;
        }

        & ul li .wap {
            font-size: 1.2rem;
            text-decoration: underline;
            color: green;

            @include mixins.respond(tab-port) {
                font-size: 2rem;
            }
        }
    }

    & .formulario {
        position: relative;

        &__check {
            @include mixins.flexCenter;
            flex-direction: row;

            & .square {
                height: 2rem;
                width: 2rem;
                border: 1px solid black;

                &-check {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: '✓';
                        font-size: 2rem;
                        top: -3px;
                        left: 0;
                    }
                }
            }
        }

        h3 {
            margin: 2rem 1rem;
        }

        p {
            margin: auto;
            width: fit-content
        }

        form {
            @include mixins.flexCenter;
        }

        .mancha {
            top: 100%;
            transform: rotate(139deg) translateX(-41%) translateY(-8%);
            z-index: -1;
        }
    }

    & footer {
        border-top: 1px double #c4b7fc;
        padding: 1rem;
        text-align: center;

        & p {
            font-size: 1.5rem;
        }
    }
}